[Desktop Entry]
Name=OSX Arc
X-KDE-PluginInfo-Author=iboyperson
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=iboyperson@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3.0
X-KDE-PluginInfo-Name=OSX-Arc
X-KDE-PluginInfo-Version=1.0
